# example .env file for default config (shown values are default ones)

# Database server IP
DB_HOST="localhost"

# Database server port
DB_PORT=3306

# Database user name
DB_USER="user"

# Database user password
DB_PASS="pass"

# Database name
DB_NAME="database"

# Express server port
SRV_PORT=4343

# DB Logger host
LOG_DB_HOST="localhost"

# DB Logger port
LOG_DB_PORT=3306

# DB Logger user name
LOG_DB_USER="user"

# DB Logger user password
LOG_DB_PASS="pass"

# DB Logger database name
LOG_DB_NAME="database"

# DB Logger table
LOG_DB_TABLE="table"

# Directory where logs will be stored
LOG_DIR="/tmp/piggybank-logs"

# Allow silencing the console logger
LOG_SILENT=1

# Specify log level for file logger. Use 'none' to disable file logging
# Available levels: [none, error, warn, info, http, verbose, debug, silly]
# NOTE: It is recommended to use 'none' when running tests (use .env.test)
LOG_FILE_LEVEL="warn"

# Specify log level for DB logger. Use 'none' to disable DB logging
# Available levels: [none, error, warn, info, http, verbose, debug, silly]
# NOTE: It is recommended to use 'none' when running tests (use .env.test)
LOG_FILE_DB="info"