# example .env file for default config (shown values are default ones)

# Database server IP
DB_HOST="localhost"

# Database server port
DB_PORT=3306

# Database user name
DB_USER="user"

# Database user password
DB_PASS="pass"

# Database name
DB_NAME="database"

# Express server port
SRV_PORT=4343

# Directory where logs will be stored
LOGDIR="/tmp/piggybank-logs"